html,
body {
    font-family: Comic Sans MS;
    font-size: large;
    background-color: #222;
    overflow: hidden;
}

a {
    color: #444;
}

a:visited {
    color: #222;
}

.loadingclass {
    cursor: wait;
    color: #CCC;
    margin-top: 50vh;
    transform: translateY(-50%);
    text-align: center;
}

canvas {
    display: block;
}


/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 40px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    margin: auto;
    padding: 54px;
    border: 0px;
    width: 674px;
    /* background-color: #fefefe; */
    background-image: url('./media/web/fond_pop_up.png');
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.modal-content-death {
    margin: auto;
    margin-top: 42px;
    padding: 54px;
    border: 0px;
    width: 60%;
    /* background-color: #fefefe; */
    background-image: url('./media/web/fond_pop_up.png');
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.modal-btn {
    position: relative;
    bottom: 78px;
    right: 0;
    /* padding: 0px 5px 53px 0px; */
    float: right;
}

.modal-btn-left {
    position: relative;
    bottom: 78px;
    left: -4px;
    /* padding: 0px 5px 53px 0px; */
    float: left;
}

.btn {
    cursor: pointer;
    width: 172px;
    height: 120px;
    border: 0px;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    opacity: 0.9;
}

.btn-suivant-1 {
    background-image: url('./media/web/bouton_astuce.png');
}

.btn-suivant-2 {
    background-image: url('./media/web/bouton_ready.png');
}

.btn-go {
    background-image: url('./media/web/bouton_jouer.png');
}

.btn-rego {
    background-image: url('./media/web/bouton_rejouer.png');
}

.btn-score {
    background-image: url('./media/web/bouton_tableau_scores.png');
}

.btn-credit {
    background-image: url('./media/web/bouton_credits.png');
}

.btn-fermer {
    background-image: url('./media/web/bouton_fermer.png');
}

.fw {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.cadre {
    background-image: url('./media/web/instructions_vide.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 675px;
    height: 363px;
    padding-top: 42px;
}

.cadreform {
    padding-top: 0px;
    padding-bottom: 42px;
}

#dead,
.ending,
.ending img {
    width: 100%;
}

#dead {
    /*padding-top: 20px;*/
}

html {
    /*font: 14px/1.4 Sans-Serif;*/
}

form {
    width: 88%;
    padding-left: 3%;
    float: left;
    margin: 20px;
    font-family: Arial;
}

form>div {
    position: relative;
    overflow: hidden;
}

form input,
form textarea {
    width: 100%;
    border: 2px solid #444;
    background: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 8px 12px;
    outline: 0;
}

form input:valid,
form textarea:valid {
    background: #cdc0ad;
}

form input:focus,
form textarea:focus {
    border-color: #fd5608;
}

form input:focus+label,
form textarea:focus+label {
    background: #fd5608;
    color: #cdc0ad;
    font-size: 75%;
    padding: 1px 6px;
    z-index: 2;
    /*text-transform: uppercase;*/
}

form label {
    transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
    position: absolute;
    color: #444;
    padding: 7px 6px;
}

form textarea {
    display: block;
    resize: vertical;
}

form.go-bottom input,
form.go-bottom textarea {
    padding: 12px 12px 12px 12px;
}

form.go-bottom label {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

form.go-bottom input:focus,
form.go-bottom textarea:focus {
    padding: 4px 6px 20px 6px;
}

form.go-bottom input:focus+label,
form.go-bottom textarea:focus+label {
    top: 100%;
    margin-top: -16px;
}

form.go-right label {
    top: 2px;
    right: 100%;
    width: 100%;
    margin-right: -100%;
    bottom: 2px;
}

form.go-right input:focus+label,
form.go-right textarea:focus+label {
    right: 0;
    margin-right: 0;
    width: 40%;
    padding-top: 5px;
}

#score {
    text-align: center;
    margin-bottom: 80px;
}

#loadScore {
    cursor: wait;
}

caption {
    background-color: #ded1bf;
    width: max-content;
    margin-bottom: 14px;
}

table {
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
}

.myScore {
    color: #ded1bf!important;
    background-color: #444;
    border: 1px solid #444;
}

tr:nth-child(even) {
    color: #444
}

tr:nth-child(odd) {
    color: #222
}